/*#container {
  display: inline-block;
}*/

.node circle {
  fill: #fff;
  stroke: #FF8A42;
  stroke-width: 1.5px;
}

text {
  font: 15px sans-serif;
  pointer-events: none;
}

.link {
  fill: none;
  stroke: #FF8A42;
  stroke-width: 1.5px;
}

#title_box {
  height: 75px;
  width: 500px;
  margin-left: 230px;
}

h1.title {
  text-align: center;
  margin-top: 25px;
  font-size: 36px;
  font-family: Libre Baskerville; 
}